* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

form.signup,
form.login {
  margin-top: 50px;
}
#catch {
  color: rgb(80, 16, 0);
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-weight: bold;
}
#catch-button {
  left: 900px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 65%;
  width: 5%;
  border-radius: 20%;
}
.image {
  background-color: #cccccc;
  background-image: url("picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.match {
  background-image: url("picture.jpg");
}
.card-body {
  background-color: white;
  margin-left: 117px;
  margin-right: 117px;
}



.matchContainer {
  max-width: 1400px;
}
#nope {
  position: fixed;
  /* margin-left: -150px; */
  padding: 50px;
  left: 50px;
  bottom: 500px;
}
#yes {
  position: fixed;
  /* margin-left: 50px; */
  right: 50px;
  bottom: 500px;
  padding: 50px;
}

.signup {
  display: block;
}

.signup2 {
  display: none;
}

.signup3 {
  display: none;
}
#save {
  display: none;
}

.container {
  background-color: blanchedalmond;
}

.btn {
  margin-top: 1rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  width: 10rem;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}